{% extends "madadjoo/base_registered.html" %}
{% block content %}
    <div class="row">
        {% block head %}
            <div class="col-6 ml-auto"></div>
        {% endblock %}
        <div class="col-5 ml-auto">

            {#            <nav aria-label="Page navigation example">#}
            {#                <ul class="pagination">#}
            {#                    <li class="page-item"><a class="page-link" href="#">قبل</a></li>#}
            {#                    <li class="page-item"><a class="page-link" href="#">1</a></li>#}
            {#                    <li class="page-item"><a class="page-link" href="#">2</a></li>#}
            {#                    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
            {#                    <li class="page-item"><a class="page-link" href="#">بعد</a></li>#}
            {#                </ul>#}
            {#            </nav>#}

        </div>
    </div>
    <div class="row">
        {% for hamyar in hamyars %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card border-secondary mb-3">
                    {% if hamyar.profile_pic %}
                        <img src="{{ hamyar.profile_pic.url|default:"https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276" }}"
                             alt="نام مددجو" class="img-thumbnail">

                    {% else %}
                        <img src="https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276"
                             alt="نام مددجو" class="img-thumbnail">
                    {% endif %}
                    <div class="card-body">
                        {% block supporter %}
                            <h5 class="card-title">{{ hamyar.first_name }} {{ hamyar.last_name }}</h5>
                        {% endblock %}
                        <p class="card-text"></p>
                        <div class="card-footer bg-transparent">
                            {% block detail %}
                                <a href="{% url "show_a_hamyar_madadjoo" %}?username={{ hamyar.username }}" class="btn btn-secondary">نمایش مشخصات همیار</a>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}