{% extends "madadjoo/base_registered.html" %}
{% block content %}
    <div>
        <h4>پنل مدیریت مددجو</h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده‌ی مددکار حامی</h4>
                <p class="lead"><img src="../../static/images/all_madadkar.png"
                     alt="مشاهده مددکاران" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 45%"></p>
                <hr class="my-4">
                <p>مشاهده‌ی اطلاعات مددکار</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_a_madadkar_madadjoo" role="button">برو</a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده‌ی همیاران</h4>
                <p class="lead"><img src="../../static/images/all_hamyar.png"
                     alt="مشاهده همیاران" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 45%"></p>
                <hr class="my-4">
                <p>مشاهده‌ی لیستی از همیاران حامی خود.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_hamyar" role="button">برو</a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">گزارش از کمک‌های دریافت شده</h4>
                <p class="lead"><img src="../../static/images/money_report.png"
                     alt="گزارش از وجوه دریافت شده" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 45%"></p>
                <hr class="my-4">
                <p>امکان دریافت گزارش از کمک‌های دریافتی به همراه جزئیات.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="payment_reports_madadjoo" role="button">برو</a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده اطلاعات</h4>
                <p class="lead"><img src="../../static/images/information.jpg"
                     alt="مشاهده‌ی اطلاعات مددجو" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 45%"></p>
                <hr class="my-4">
                <p>امکان مشاهده‌ی جزئیات اطلاعات مددجو</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_madadjoo_information" role="button">برو</a>
                </p>
            </div>
        </div>

    </div>

{% endblock %}