{% extends "base_registered.html" %}
{% load tz %}

{% block panel %}
    <a class="nav-link" href="madadjoo_panel">پنل مدیریت مددجو</a>
{% endblock %}
{% block home_url %}
    <a class="nav-link" href="home_madadjoo">خانه <span class="sr-only">(current)</span></a>
{% endblock %}
{% block content %}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#cash">
                        <h4><span aria-hidden="true"
                                  style="margin-left:1%;"></span>وجوه دریافت‌شده</h4>
                    </a>
                </h4>
            </div>
            <div id="cash" class="panel-collapse collapse show fade">
                <hr>
                <div class="panel-body">
                    <div class="row bg-light">

                        <div class="col-md-3 rounded " style="height: 100%;">
                            <p class="list-group-item bg-light" style="border-color: white">نام همیار</p>
                        </div>

                        <div class="col-md-3 rounded" style="height: 100%;">
                            <p class="list-group-item bg-light" style="border-color: white">از تاریخِ</p>
                        </div>

                        <div class="col-md-3 rounded" style="height: 100%;">
                            <p class="list-group-item bg-light" style="border-color: white">وجه دریافتی</p>
                        </div>

                        <div class="col-md-3 rounded" style="height: 100%;">
                            <p class="list-group-item bg-light" style="border-color: white">نوع پرداخت</p>
                        </div>
                    </div>

                    {% for help in cash %}
                        <div class="row">
                            <div class="col-md-3 rounded" style="height: 100%;">
                                <p class="list-group-item"
                                   style="border-color: white"><a
                                        href="{% url "show_a_hamyar_madadjoo" %}?username={{ help.hamyar.username }}">{{ help.hamyar.first_name }} {{ help.hamyar.last_name }}</a>
                                </p>
                            </div>

                            <div class="col-md-3 rounded" style="height: 100%;">
                                <p class="list-group-item" style="border-color: white">{{ help.date }}</p>
                            </div>

                            <div class="col-md-3 rounded" style="height: 100%;">
                                <p class="list-group-item" style="border-color: white">{{ help.amount }} تومان</p>
                            </div>

                            <div class="col-md-3 rounded" style="height: 100%;">
                                <p class="list-group-item" style="border-color: white">
                                    {% if help.type == 'ann' %}
                                        سالانه
                                    {% elif help.type == 'mo' %}
                                        ماهانه
                                    {% else %}
                                        موردی
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#admin_cash">
                        <h4><span aria-hidden="true"
                                  style="margin-left:1%;"></span> وجوه دریافت‌شده از مدیر سامانه</h4>
                    </a>
                </h4>
            </div>
            <div id="admin_cash" class="panel-collapse collapse in fade">
                <hr>
                <div class="panel-body">
                    <div class="row bg-light">
                        <div class="col-md-3 rounded" style="height: 100%;">
                            <p class="list-group-item bg-light" style="border-color: white">از تاریخِ</p>
                        </div>

                        <div class="col-md-3 rounded" style="height: 100%;">
                            <p class="list-group-item bg-light" style="border-color: white">وجه دریافتی</p>
                        </div>

                        <div class="col-md-3 rounded" style="height: 100%;">
                            <p class="list-group-item bg-light" style="border-color: white">نوع پرداخت</p>
                        </div>
                    </div>

                    {% for help in admin_cash %}
                        <div class="row">
                            <div class="col-md-3 rounded" style="height: 100%;">
                                <p class="list-group-item" style="border-color: white">{{ help.date }}</p>
                            </div>

                            <div class="col-md-3 rounded" style="height: 100%;">
                                <p class="list-group-item" style="border-color: white">{{ help.amount }} تومان</p>
                            </div>

                            <div class="col-md-3 rounded" style="height: 100%;">
                                <p class="list-group-item" style="border-color: white">
                                    {% if help.type == 'ann' %}
                                        سالانه
                                    {% elif help.type == 'mo' %}
                                        ماهانه
                                    {% else %}
                                        موردی
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#non_cash">
                        <h4><span aria-hidden="true"
                                  style="margin-left:1%;"></span>کمک‌های غیرنقدی دریافت‌شده</h4></a>
                </h4>
            </div>
            <div id="non_cash" class="panel-collapse collapse fade in">
                <hr>
                <div class="panel-body">
                    <div id="non_cash" class="panel-collapse collapse in fade show">
                        <div class="panel-body">
                            <div class="row bg-light">

                                <div class="col-md-3 rounded " style="height: 100%;">
                                    <p class="list-group-item bg-light" style="border-color: white">نام همیار</p>
                                </div>

                                <div class="col-md-3 rounded" style="height: 100%;">
                                    <p class="list-group-item bg-light" style="border-color: white">در تاریخِ</p>
                                </div>

                                <div class="col-md-6 rounded" style="height: 100%;">
                                    <p class="list-group-item bg-light" style="border-color: white">عنوان کمک</p>
                                </div>
                            </div>

                            {% for help in non_cash %}
                                <div class="row">
                                    <div class="col-md-3 rounded" style="height: 100%;">
                                        <p class="list-group-item"
                                           style="border-color: white"><a
                                                href="{% url "show_a_hamyar_madadjoo" %}?username={{ help.hamyar.username }}">{{ help.hamyar.first_name }} {{ help.hamyar.last_name }}</a>
                                        </p>
                                    </div>

                                    <div class="col-md-3 rounded" style="height: 100%;">
                                        <p class="list-group-item"
                                           style="border-color: white">{{ help.date }}</p>
                                    </div>

                                    <div class="col-md-4 rounded" style="height: 100%;">
                                        <p class="list-group-item" style="border-color: white">{{ help.text }}</p>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right-side-navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="home_madadjoo">خانه <span class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}