{% extends "base_registered.html" %}
{% block panel %}
    <a class="nav-link" href="madadjoo_panel">پنل مدیریت مددجو</a>
{% endblock %}
{% block content %}
    <h4><span aria-hidden="true"
              style="margin-left:1%;"></span>وجوه دریافت شده</h4>
    <hr>
    <div class="row bg-light">
        <div class="col-md-4 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">نام همیار</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">وجه دریافتی</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">تاریخ</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">همیار ۱</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱.۰۰۰.۰۰۰ ریال</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱۳۹۶/۴/۱۳</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">همیار ۱</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱.۰۰۰.۰۰۰ ریال</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱۳۹۶/۴/۱۳</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">همیار ۱</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱.۰۰۰.۰۰۰ ریال</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱۳۹۶/۴/۱۳</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">همیار ۱</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱.۰۰۰.۰۰۰ ریال</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱۳۹۶/۴/۱۳</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">همیار ۱</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱.۰۰۰.۰۰۰ ریال</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱۳۹۶/۴/۱۳</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">همیار ۱</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱.۰۰۰.۰۰۰ ریال</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item" style="border-color: white">۱۳۹۶/۴/۱۳</p>
        </div>
    </div>

{% endblock %}