{% extends 'base_show_a_madadjoo.html' %}
    {% block panel %}
        <a class="nav-link" href="madadjoo_panel">پنل مدیریت مددجو</a>
    {% endblock %}
    {% block links %}
        <a href="show_a_hamyar_madadjoo" class="list-group-item list-group-item-action">همیار ۱</a>
        <a href="show_a_hamyar_madadjoo" class="list-group-item list-group-item-action">همیار ۲</a>
        <a href="show_a_hamyar_madadjoo" class="list-group-item list-group-item-action">همیار ۳</a>
        <a href="show_a_hamyar_madadjoo" class="list-group-item list-group-item-action">همیار ۴</a>
    {% endblock %}