{% extends "madadjoo/base_show_a_supporter.html" %}

{% block head %}
    <div class="col-6 ml-auto">
        <h4>مشخصات مددکار</h4>
    </div>
{% endblock %}

{% block buttons %}
    {% if has_madadkar %}
        <a href="{% url "send_request_madadkar" %}?username={{ username }}">
            <button type="button" class="btn btn-outline-warning">ارسال درخواست</button>
        </a>
        <a href="{% url "send_gratitude_letter" %}?username={{ username }}">
            <button type="button" class="btn btn-outline-success">ارسال نامه‌ی تشکر</button>
        </a>
        <a href="{% url "request_change_madadkar" %}?username={{ username }}">
            <button type="button" class="btn btn-outline-danger">درخواست تغییر مددکار</button>
        </a>
    {% endif %}
{% endblock %}

{% block name %}
    <input type="text" id="staticName" readonly class="form-control-plaintext form-control" value="{{ first_name }}">
{% endblock %}

{% block l-name %}
    <input type="text" readonly class="form-control-plaintext form-control" id="staticLastName"
           value="{{ last_name }}">

{% endblock %}

{% block profile_pic %}
    {% if user.profile_pic %}
        <img src="{{ profile_pic.url|default:"https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276" }}"
             alt="نام مددجو" class="img-thumbnail">
    {% else %}
        <img src="https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276"
             alt="نام مددجو" class="img-thumbnail">
    {% endif %}
{% endblock %}