{% extends "base_show_a_hamyar.html" %}

{% block panel %}
   <a class="nav-link" href="madadjoo_panel">پنل مدیریت مددجو</a>
{% endblock %}
{% block home_url %}
    <a class="nav-link" href="home_madadjoo">خانه <span class="sr-only">(current)</span></a>
{% endblock %}

{% block buttons %}
    <a href="{% url "send_letter_hamyar_madadjoo" %}?username={{ hamyar.username }}">
        <button type="button" class="btn btn-outline-warning">ارسال نامه</button>
    </a>
{% endblock %}

{% block name %}
    <input type="text" id="staticName" readonly class="form-control-plaintext form-control"
           placeholder="نام همیار" value="{{ hamyar.first_name }}">
{% endblock %}

{% block l-name %}
    <input type="text" readonly class="form-control-plaintext form-control" id="staticLastName"
           placeholder="نام خانوادگی همیار" value="{{ hamyar.last_name }}">

{% endblock %}

{% block right-side-navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="home_madadjoo">خانه <span class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}