{% extends "base_show_a_hamyar.html" %}

{% block panel %}
   <a class="nav-link" href="madadjoo_panel">پنل مدیریت مددجو</a>
{% endblock %}

{% block buttons %}
    <a href="send_letter_hamyar_madadjoo">
        <button type="button" class="btn btn-outline-warning">ارسال نامه</button>
    </a>
{% endblock %}

{% block name %}
    <input type="text" id="staticName" readonly class="form-control-plaintext form-control" placeholder="نام همیار">
{% endblock %}

{% block l-name %}
    <input type="text" readonly class="form-control-plaintext form-control" id="staticLastName"
           placeholder="نام خانوادگی همیار">

{% endblock %}