{% extends "hamyar/base_registered.html" %}
{% block content %}
    <div>
        <h4>پنل مدیریت همیار</h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده مددجویان تحت تکفل</h4>
                <p class="lead"><img src="../../static/images/all_madadjoo.jpg"
                     alt="مشاهده مددجویان" class="embed-responsive embed-responsive-16by9 img-thumbnail"></p>
                <hr class="my-4">
                <p>دریافت گزارش از مددجویان تحت تکفل، پرداخت به مددجو و ارسال نامه</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_madadjoo_hamyar" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">گزارش فعالیت مددجویان</h4>
                <p class="lead"><img src="../../static/images/report.jpg"
                    alt="گزارش از وجوه پرداختی" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="height: 45%"></p>
                 <hr class="my-4">
                 <p>امکان دریافت گزارش از فعالیت مددجویان تحت تکفل</p>
                 <p class="lead">
                     <a class="btn btn-danger btn-lg" href="madadjoo_report" role="button">برو</a>
                 </p>
             </div>
         </div>
        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">تحت تکفل قرار دادن مددجو</h4>
                <p class="lead"><img src="../../static/images/takafol.png"
                     alt="مشاهده مددجویان" class="embed-responsive embed-responsive-16by9 img-thumbnail"></p>
                <hr class="my-4">
                <p>امکان مشاهده لیست مددجویان و انتخاب تعدادی برای کفالت</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="select_madadjoo" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده پیام‌های دریافتی</h4>
                <p class="lead"><img src="../../static/images/inbox.png"
                     alt="پیام‌ها" class="img-thumbnail embed-responsive embed-responsive-16by9"></p>
                <hr class="my-4">
                <p>امکان مشاهده نامه‌های دریافتی از مددجویان تحت تکفل</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="inbox_hamyar" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">گزارش از وجوه پرداختی</h4>
                <p class="lead"><img src="../../static/images/money_report.png"
                     alt="گزارش از وجوه پرداختی" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="height: 45%"></p>
                <hr class="my-4">
                <p>امکان دریافت گزارش از وجوه پرداختی</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="payment_reports" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
                <div class="jumbotron">
                    <h4 class="display-5">پرداخت مستقیم به موسسه</h4>
                    <p class="lead"><img src="../../static/images/pay-bills.png"
                         alt="پرداخت" class="img-thumbnail embed-responsive embed-responsive-16by9"></p>
                    <hr class="my-4">
                    <p>امکان پرداخت مستقیم به موسسه</p>
                    <p class="lead">
                        <a class="btn btn-danger btn-lg" href="" role="button">برو</a>
                    </p>
                </div>
            </div>
    </div>

{% endblock %}