{% extends "hamyar/inbox.html" %}

{% block letter_content %}
            <div class="col-sm-11 col-md-9 col-lg-8 rounded" style="height: 100%; background-color: #f4f4f4">
            <div class="row" style="margin-top: 2%;">
                <div class="col-md-6 mr-auto">
                    <h4>{{ letter.title }}</h4>
                </div>
                <div class="col-md-6 mr-auto">
                    <button type="button" class="btn btn-outline-danger">حذف نامه</button>
                </div>
            </div>

            <hr>
            <p>فرستنده: {{ sender.username }} </p>
            <p>گیرنده: {{ receiver.username }} </p>
            <p>{{ letter.text }}</p>
        </div>
{% endblock %}
