{% extends "hamyar/inbox.html" %}

{% block letter_content %}
    <div class="col-sm-12 col-md-9 col-lg-8 rounded" style="height: 100%; background-color: #f4f4f4; margin-top: 2%" id="selected">
        <div class="row" style="margin-top: 2%;">
            <div class="col-md-6 mr-auto">
                <h4>
                    {% if letter.title %}
                        {{ letter.title }}
                    {% else %}
                        اطلاع رسانی حذف
                        {{ madadjoo.first_name }} {{ madadjoo.last_name }}
                    {% endif %}
                </h4>
            </div>
            <div class="col-md-6 mr-auto">
                {% if letter.title %}
                    <a href="{% url "delete_letter_hamyar" %}?letter={{ letter.id }}"
                       class="btn btn-outline-danger">
                        حذف نامه
                    </a>
                    {#                {% elif True %}#}
                {% elif not is_substituted %}
                    <a href="{% url "select_to_substitute_a_madadjoo_hamyar" %}?username={{ letter.madadjoo.username }}"
                       class="btn btn-outline-warning">
                        جایگزین مددجو
                    </a>
                {% elif is_substituted %}
                    <a href='#' disabled="True" style="pointer-events: None" class="btn btn-outline-warning">
                        جایگزین شده‌است
                    </a>
                {% endif %}
            </div>
        </div>

        <hr>
        <p>
            فرستنده:
            {% if sender %}
                {{ sender.first_name }} {{ sender.last_name }}
            {% else %}
                مدیر سامانه
            {% endif %}
        </p>
        <p>گیرنده: {{ receiver.first_name }} {{ receiver.last_name }}</p>
        <p>{{ letter.text }}</p>
    </div>
{% endblock %}
