<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #be4148">
                {#                <button type="button" class="close" data-dismiss="modal">&times;</button>#}
                <h4 class="modal-title" style="color: white">صفحه‌ی پرداخت</h4>
            </div>
            <div class="modal-body">
                <small class="modal-title">توجه داشته باشید ۱۰٪ از مبلغ وارد شده از وجه کاسته خواهد شد.</small>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-8">
                            <div class="col-md-8">نیاز مددجو</div>
                            {% for need in needs %}
                                <div class="form-check form-check-inline disabled col-md-12 panel-body">
                                    <label class="form-check-label col-md-10">{{ need.description }}</label>
                                    <input class="form-check-input col-md-2" type="radio" name="need"
                                           id="type{{ need.id }}" value="{{ need.id }}">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-4">
                            <label>مبلغ پرداخت (تومان)</label>
                            <input type="number" id="payment_amount" class="form-control" name="amount"
                                   placeholder="مبلغ پرداخت">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger"> پرداخت</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>