{% extends "hamyar/base_registered.html" %}
{% block content %}
    {% block message %}
        {% if not message == None %}
            <ul style="color: #30996d">
                <li>{{ message }}</li>
            </ul>
        {% endif %}
    {% endblock %}
    <div class="row">
        <div class="col-6 ml-auto"><h4>تحت تکفل قرار دادن مددجویان</h4></div>
        {#        <div class="col-6 ml-auto">#}
        {##}
        {#            <nav aria-label="Page navigation example">#}
        {#                <ul class="pagination">#}
        {#                    <li class="page-item"><a class="page-link" href="#">قبل</a></li>#}
        {#                    <li class="page-item"><a class="page-link" href="#">1</a></li>#}
        {#                    <li class="page-item"><a class="page-link" href="#">2</a></li>#}
        {#                    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
        {#                    <li class="page-item"><a class="page-link" href="#">بعد</a></li>#}
        {#                </ul>#}
        {#            </nav>#}
        {##}
        {#        </div>#}

    </div>
    <br>
    <form>
        <div class="row">
            {% for madadjoo in madadjoos %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card border-secondary mb-3">
                        {% if madadjoo.profile_pic %}
                            <img src="{{ madadjoo.profile_pic.url|default:"https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276" }}"
                                 alt="نام مددجو" class="img-thumbnail">

                        {% else %}
                            <img src="https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276"
                                 alt="نام مددجو" class="img-thumbnail">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ madadjoo.first_name }} {{ madadjoo.last_name }}</h5>
                            <p class="card-text">{{ madadjoo.bio }}</p>
                            <p class="card-text">
                            <div class="card-footer bg-transparent">
                                {% block link %}
                                    <a href="{% url "show_a_madadjoo_hamyar" %}?username={{ madadjoo.username }}"
                                       class="btn btn-secondary">نمایش مشخصات مددجو</a>
                                {% endblock %}
                            </div>
                            <div class="card-footer bg-transparent">
                                <button type="button" class="btn btn-outline-success btn-lg btn-block">
                                    <a href="{% url "support_a_madadjoo" %}?username={{ madadjoo.username }}">تکفل
                                        کن</a>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
        {#        <button type="button" class="btn btn-success btn-lg btn-block">تایید</button>#}
    </form>
{% endblock %}