{% extends 'base_send_letter.html' %}
{% block panel %}
    <a class="nav-link" href="hamyar_panel">پنل مدیریت همیار</a>
{% endblock %}
{% block sender %}
    <input type="text" readonly class="form-control-plaintext form-control" id="sender"
           placeholder="نام همیار">
{% endblock %}
{% block receiver %}
    <div id="reciever">
        <div data-toggle="buttons">
            <label class="btn btn-secondary active" >
                <input type="checkbox" checked autocomplete="off"> مددجوی ۱
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> مددجوی ۲
            </label>
            <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> مددجوی ۳
            </label>
</div>
    </div>

{% endblock %}

