{% extends 'base_show_a_madadjoo.html' %}
    {% block panel %}
        <a class="nav-link" href="hamyar_panel">پنل مدیریت همیار</a>
    {% endblock %}
    {% block links %}
        {% for hamyar in hamyars %}
            <a href="#" class="list-group-item list-group-item-action disabled"
            style="cursor: default">{{ hamyar.username }}</a>
        {% endfor %}
        <hr>
        <a href="https://sep.shaparak.ir/PaymentError.aspx?key=0dqPUmtI1Qg" class="btn btn-success">پرداخت</a>
    {% endblock %}