{% extends 'base_show_madadjoo.html' %}
{% block panel %}
    <a class="nav-link" href="hamyar_panel">پنل مدیریت همیار</a>
{% endblock %}
{% block home_url %}
    <a class="nav-link" href="home_hamyar">خانه <span class="sr-only">(current)</span></a>
{% endblock %}
{% block link %}
    <a href="{% url "show_a_madadjoo_hamyar" %}?username={{ madadjoo.username }}" class="btn btn-block btn-secondary">نمایش مشخصات مددجو</a>
 {% endblock %}

{% block right-side-navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="home_hamyar">خانه <span class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}
