{% extends 'base_show_a_madadjoo.html' %}
{% block panel %}
    <a class="nav-link" href="hamyar_panel">پنل مدیریت همیار</a>
{% endblock %}
{% block home_url %}
    <a class="nav-link" href="home_hamyar">خانه <span class="sr-only">(current)</span></a>
{% endblock %}
{% block buttons %}
    <a href="{% url "send_letter_hamyar" %}?username={{ user.username }}">
        <button type="button" class="btn btn-outline-warning">ثبت درخواست ملاقات</button>
    </a>
{% endblock %}
{% block links %}
    {% for hamyar in hamyars %}
        <a href="#" class="list-group-item list-group-item-action disabled"
           style="cursor: default">{{ hamyar.first_name }} {{ hamyar.last_name }}</a>
    {% endfor %}
    <hr>
    <p class="lead">
        <a class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal1" href="#">ثبت پرداخت هزینه</a>
        {% include "hamyar/pay_madadjoo_popup.html" %}
        <a class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal2" href="#">ثبت کمک غیرنقدی به
            مددجو</a>
        {% include "hamyar/pay_madadjoo_non_cash.html" %}
    </p>
    <p class="lead">
        <a href={% url "stop_support_hamyar" %}?madadjoo={{ user.id }} class="btn btn-danger btn-block">
            عدم حمایت از مددجو
        </a>
        {#        <a href="#" class="btn btn-success"></a>#}
    </p>
{% endblock %}

{% block right-side-navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="home_hamyar">خانه <span class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}
