{% extends "base_madadjoo_info.html" %}

{% block buttons %}
    <button type="button" class="btn btn-danger">حذف</button>
    <button type="button" class="btn btn-outline-success">تایید شده</button>

{% endblock %}


{% block below_image %}

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action disabled">
            نام همیاران
        </a>
        {% block links %}
            {% for hamyar in hamyars %}
                <a href="{% url "show_a_hamyar" %}?username={{ hamyar.username }}"
                   class="list-group-item list-group-item-action">
                    {{ hamyar.username }}
                </a>
            {% endfor %}

            {#    <a href="show_a_hamyar_madadjoo" class="list-group-item list-group-item-action">همیار ۲</a>#}
            {#    <a href="show_a_hamyar_madadjoo" class="list-group-item list-group-item-action">همیار ۳</a>#}
            {#    <a href="show_a_hamyar_madadjoo" class="list-group-item list-group-item-action">همیار ۴</a>#}
        {% endblock %}
    </div>

{% endblock %}

{% block name %}
    <input type="text" id="staticName" class="form-control"
           placeholder="نام مددجو" value="{{ user.first_name }}">
{% endblock %}

{% block lastName %}
    <input type="text" class="form-control" id="staticLastName"
           placeholder="نام خانوادگی مددجو" value="{{ user.last_name }}">
{% endblock %}

{% block idNum %}
    <input type="text" id="staticid" class="form-control"
           placeholder="کد ملی مددجو" value="{{ user.id_number }}">
{% endblock %}

{% block phone %}
    <input type="text" class="form-control" id="staticphone"
           placeholder="شماره تلفن مددجو" value="{{ user.phone_number }}">
{% endblock %}

{% block email %}
    <input type="text" class="form-control" id="staticphone"
           placeholder="رایانامه مددجو" value="{{ user.email }}">
{% endblock %}

{% block addr %}
    <input type="text" id="staticaddr" class="form-control"
           placeholder="آدرس مددجو در این‌جا وارد می‌شود." value="{{ user.address }}">
{% endblock %}

{% block percentage %}
    <input type="text" class="form-control"
           id="staticpercentage"
           placeholder="درصد پس‌انداز" value="{{ user.invest_percentage }}">
{% endblock %}

{% block success %}
    <textarea rows="7" id="staticsuccess" class="form-control"
              placeholder="شرح موفقیت‌های مددجو در اینجا وارد می‌شود">{{ user.successes }}</textarea>
{% endblock %}

{% block bio %}
    <textarea rows="7" id="staticbio" class="form-control"
              placeholder="مشخصات مددجو در این‌جا وارد می‌شود">{{ user.bio }}</textarea>
{% endblock %}

{% block education %}
    <textarea rows="7" id="staticedu" class="form-control"
              placeholder="وضعیت تحصیلی مددجو در این‌جا وارد می‌شود">{{ user.edu_status }}</textarea>
{% endblock %}


{% block need %}
    {% for need in needs %}
        {% include "snippets/need_snippet_edit_admin.html" %}
    {% endfor %}
    <p>افزودن نیاز جدید</p>
    <hr>
    {% include "snippets/need_snippet_edit_adder.html" %}
    {#    {% include "snippets/need_snippet_edit_admin.html" %}#}

{% endblock %}

{% block submit %}
    <button type="button" class="btn btn-success">ثبت تغییرات</button>
{% endblock %}

