{% extends "base_show_a_madadjoo.html" %}

{% block buttons %}
    <a href="edit_madadjoo">
        <button type="button" class="btn btn-warning"> ویرایش</button>
    </a>
    <button type="button" class="btn btn-danger">حذف</button>
    <button type="button" class="btn btn-outline-success">تایید شده</button>
{% endblock %}

{% block panel %}
        <a class="nav-link" href="madadkar_panel">پنل مدیریت مددکار</a>
{% endblock %}

{% block links %}
    <a href="show_a_hamyar" class="list-group-item list-group-item-action">همیار ۱</a>
    <a href="show_a_hamyar" class="list-group-item list-group-item-action">همیار ۲</a>
    <a href="show_a_hamyar" class="list-group-item list-group-item-action">همیار ۳</a>
    <a href="show_a_hamyar" class="list-group-item list-group-item-action">همیار ۴</a>
{% endblock %}