{% extends "base_show_a_hamyar.html" %}

{% block panel %}
    <a class="nav-link" href="madadkar_panel">پنل مدیریت مددکار</a>
{% endblock %}
{% block home_url %}
    <a class="nav-link" href="home_madadkar">خانه <span class="sr-only">(current)</span></a>
{% endblock %}

{% block buttons %}
{#    <a href="send_letter">#}
{#        <button type="button" class="btn btn-info">ارسال نامه</button>#}
{#    </a>#}
{% endblock %}

{% block madadjoos %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action disabled" style="cursor: default">
            مددجویان مشترک تحت تکفل
        </a>
        {% for madadjoo in madadjoos %}
            <a href="{% url "show_a_madadjoo" %}?username={{ madadjoo.username }}" class="list-group-item list-group-item-action">
                {{ madadjoo.first_name }} {{ madadjoo.last_name }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block more_detail %}
    <div class="form-group row">
        <label for="staticphone" class="col-md-2 col-form-label">شماره تلفن همیار</label>
        <div class="col-md-3">
            <input type="text" id="staticphone" readonly class="form-control-plaintext form-control"
                   value="{{ hamyar.phone_number }}">
        </div>
        <label for="staticphone" class="col-md-2 col-form-label">ایمیل همیار</label>
        <div class="col-md-5">
            <input type="text" id="staticphone" readonly class="form-control-plaintext form-control"
                   value="{{ hamyar.email }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticaddr" class="col-md-2 col-form-label">آدرس همیار</label>
        <div class="col-md-10">
            <textarea rows="7" id="staticaddr" readonly class="form-control-plaintext form-control"
                      placeholder="آدرس همیار در این‌جا وارد می‌شود">{{ hamyar.address }}</textarea>
        </div>
    </div>
{% endblock %}