@font-face {
    font-family: BYas;
          src : url('../../fonts/BYas.eot') format('eot'),
          url('../../fonts/BYas.woff') format('woff'),
          url('../../fonts/BYas.ttf') format('truetype');
}

@font-face {
    font-family: BNazanin;
          src : url('../../fonts/BNazanin.eot') format('eot'),
          url('../../fonts/BNazanin.woff') format('woff'),
          url('../../fonts/BNazanin.ttf') format('truetype');
}

@font-face {
    font-family: 'BBardiya';
          src : url('../../fonts/BBardiya.eot?#') format('eot'),
          url('../../fonts/BBardiya.woff') format('woff'),
          url('../../fonts/BBardiya.ttf') format('truetype');
}