{% extends "admin/edit_a_madadkar.html" %}

{% block below_image %}
    <form>
        <div class="form-group text-center">
            <label for="FormControlFile">عکس را انتخاب کنید</label>
            <input type="file" class="form-control-file" id="FormControlFile">
        </div>
    </form>
{% endblock %}

{% block pass %}
    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="pwd">رمز عبور</label>
        <div class="col-md-10">
            <input type="password" class="form-control" id="pwd">
        </div>
    </div>
{% endblock %}

{% block submit %}
    <button type="button" class="btn btn-success">ثبت مددکار</button>
{% endblock %}