{% extends "admin/edit_a_madadkar.html" %}

{% block below_image %}
    <div class="form-group text-center">
        <label for="profile_pic">عکس را انتخاب کنید</label>
        <input accept="image/*" type="file" name="profile_pic" class="form-control-file" id="profile_pic">
    </div>
{% endblock %}

{% block pass %}
    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="username">نام ‌کاربری</label>
        <div class="col-md-4">
            <input type="text" name="username" class="form-control" id="username" required="true">
        </div>
        <label class="col-md-2 col-form-label" for="password">رمز عبور</label>
        <div class="col-md-4">
            <input type="password" name="password" class="form-control" id="password" required="true">
        </div>
    </div>
{% endblock %}

{% block submit %}
    <input type="submit" class="btn btn-success" value="ثبت مددکار"/>
{% endblock %}