{% extends "admin/base_registered.html" %}
{% block content %}
    <div>
        <h4>پنل مدیریت مددجو</h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده‌ی مددجویان</h4>
                <p class="lead"><img src="../../static/images/all_madadjoo.jpg"
                     alt="مشاهده مددکاران" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 45%"></p>
                <hr class="my-4">
                <p>مشاهده‌ی مددجویان و امکان تحت تکفل قرار دادن آنان</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_madadjoo_admin" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده پیام‌های دریافتی</h4>
                <p class="lead"><img src="../../static/images/inbox.png"
                     alt="پیام‌ها" class="img-thumbnail embed-responsive embed-responsive-16by9"></p>
                <hr class="my-4">
                <p>امکان مشاهده نامه‌ها و اخطار‌های احتمالی دریافتی.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="inbox_admin" role="button">برو</a>
                </p>
            </div>
        </div>

    </div>

{% endblock %}