{% extends "admin/base_registered.html" %}
{% block content %}
    <div>
        <h4>پنل مدیریت مدیر سامانه</h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده‌ی مددجویان</h4>
                <p class="lead"><img src="../../static/images/all_madadjoo.jpg"
                     alt="مشاهده مددکاران" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 45%"></p>
                <hr class="my-4">
                <p>مشاهده‌ی مددجویان و امکان تحت تکفل قرار دادن آنان و تعریف مددجوی جدید.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_madadjoo_admin" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده‌ی مددکاران</h4>
                <p class="lead"><img src="../../static/images/all_madadkar.png"
                     alt="مشاهده مددکاران" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 45%"></p>
                <hr class="my-4">
                <p>مشاهده‌ی مددکاران و امکان ارسال اخطار به آنان و تعریف مددکار جدید.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_madadkar_admin" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده‌ی همیاران</h4>
                <p class="lead"><img src="../../static/images/all_hamyar.png"
                     alt="مشاهده مددکاران" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 45%"></p>
                <hr class="my-4">
                <p>مشاهده‌ی همیاران و امکان تعریف همیار جدید.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_hamyar_admin" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده پیام‌های دریافتی</h4>
                <p class="lead"><img src="../../static/images/inbox.png"
                     alt="پیام‌ها" class="img-thumbnail embed-responsive embed-responsive-16by9"></p>
                <hr class="my-4">
                <p>امکان مشاهده نامه‌ها و اخطار‌های احتمالی دریافتی.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="inbox_admin" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="jumbotron">
                    <h4 class="display-5">گزارش از پرداختی‌ها</h4>
                    <p class="lead"><img src="../../static/images/money_report.png"
                         alt="گزارش از پرداختی‌ها به موسسه" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="height: 45%"></p>
                    <hr class="my-4">
                    <p>امکان دریافت گزارش از پرداختی‌ها به موسسه</p>
                    <p class="lead">
                        <a class="btn btn-danger btn-lg" href="payment_reports_admin" role="button">برو</a>
                    </p>
                </div>
            </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="jumbotron">
                <h4 class="display-5">گزارش فعالیت کاربران</h4>
                <p class="lead"><img src="../../static/images/report.jpg"
                    alt="گزارش از وجوه پرداختی" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="height: 45%"></p>
                 <hr class="my-4">
                 <p>امکان دریافت گزارش از فعالیت کاربران</p>
                 <p class="lead">
                     <a class="btn btn-danger btn-lg" href="activity_report_admin" role="button">برو</a>
                 </p>
             </div>
         </div>


    </div>

{% endblock %}