{% extends "admin/show_a_madadkar.html" %}

{% block buttons %}

{% endblock %}

{% block name %}
    <input type="text" id="staticName" class="form-control"
           placeholder="نام مددکار">
{% endblock %}

{% block l-name %}
    <input type="text" id="staticName" class="form-control"
           placeholder="نام خانوادگی مددکار">
{% endblock %}

{% block bio %}
     <textarea rows="7" id="staticbio" class="form-control"
              placeholder="شرح حال مددکار در این‌جا وارد می‌شود"></textarea>
{% endblock %}

{% block submit %}
    <button type="button" class="btn btn-success">ثبت اطلاعات</button>
{% endblock %}



