{% extends "admin/show_a_madadkar.html" %}

{% block buttons %}

{% endblock %}

{% block name %}
    <input type="text" id="staticName" class="form-control"
           placeholder="نام مددکار">
{% endblock %}

{% block l-name %}
    <input type="text" id="staticName" class="form-control"
           placeholder="نام خانوادگی مددکار">
{% endblock %}

{% block more_detail %}
     <div class="form-group row">
        <label for="staticid" class="col-md-2 col-form-label">کد ملی مددکار</label>
        <div class="col-md-10">
            <input type="text" id="staticid" class="form-control form-control"
                   placeholder="کد ملی مددکار">
        </div>
    </div>

    <div class="form-group row">
        <label for="staticphone" class="col-md-2 col-form-label">شماره تلفن مددکار</label>
        <div class="col-md-10">
            <input type="text" id="staticphone" class="form-control"
                   value="۰۲۱-xxxxxxxx">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticaddr" class="col-md-2 col-form-label">آدرس مددکار</label>
        <div class="col-md-10">
            <textarea rows="7" id="staticaddr" class="form-control"
                      placeholder="آدرس مددکار در این‌جا وارد می‌شود"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="staticbio" class="col-md-2 col-form-label">شرح‌حال</label>
        <div class="col-md-10">
            <textarea rows="7" id="staticbio" class="form-control"
                      placeholder="شرح‌حال مددکار در این‌جا وارد می‌شود"></textarea>
        </div>
    </div>

    {% block pass %}

    {% endblock %}
{% endblock %}

{% block submit %}
    <button type="button" class="btn btn-success">ثبت تغییرات</button>
{% endblock %}



