{% extends "madadkar/inbox.html" %}

{% block panel %}
    <a class="nav-link" href="admin_panel">پنل مدیریت مدیر سامانه</a>
{% endblock %}

{% block list %}
    <a href="show_a_madadjoo_admin" class="bg-light list-group-item list-group-item-action">
                        عنوان نامه
        <span class="emergency-need badge badge-danger">فوری کردن نیاز</span>
    </a>
    <a href="#" class="bg-light list-group-item list-group-item-action">عنوان نامه
        <span class="emergency-need badge badge-danger">فوری کردن نیاز</span></a>
    <a href="#" class="bg-light list-group-item list-group-item-action">عنوان نامه
        <span class="emergency-need badge badge-info">ثبت مددجوی جدید</span></a>

    <a href="#" class="bg-light list-group-item list-group-item-action">عنوان نامه
        <span class="emergency-need badge badge-danger">فوری کردن نیاز</span></a>
    <a href="#" class="bg-light list-group-item list-group-item-action">عنوان نامه
        <span class="emergency-need badge badge-info">ثبت مددجوی جدید</span></a>

    <a href="#" class="bg-light list-group-item list-group-item-action">عنوان نامه
        <span class="emergency-need badge badge-info">ثبت مددجوی جدید</span></a>

    <a href="#" class="bg-light list-group-item list-group-item-action">عنوان نامه
        <span class="emergency-need badge badge-danger">فوری کردن نیاز</span></a>
{% endblock %}