{% extends "admin/inbox.html" %}

{% block letter_content %}
    <div class="col-sm-11 col-md-9 col-lg-8 rounded" style="height: 100%; background-color: #f4f4f4; margin-top: 2%" id="selected">
        <div class="row" style="margin-top: 2%;">
            <div class="col-md-6 mr-auto">
                {% if letter.thank %}
                    <h4>نامه‌ی تشکر مددجو</h4>
                {% else %}
                    <h4>نامه‌ی درخواست مددجو</h4>
                {% endif %}
            </div>
            <div class="col-md-6 mr-auto">
                <a href="{% url "delete_letter_admin" %}?letter={{ letter.id }}"
                   class="btn btn-outline-danger">
حذف نامه
                </a>
            </div>
        </div>

        <hr>
        <p>فرستنده: {{ letter.madadjoo.first_name }} {{ letter.madadjoo.last_name }} </p>
        <p>{{ letter.text }}</p>
    </div>
{% endblock %}
