{% extends "base_registered.html" %}
{% block panel %}
    <a class="nav-link" href="admin_panel">پنل مدیریت مدیر سامانه</a>
{% endblock %}
{% block content %}
    <h4><span aria-hidden="true"
              style="margin-left:1%;"></span>وجوه پرداخت شده به "نام مددجو"</h4>
    <hr>
    <div class="row bg-light">
        <div class="col-md-4 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">نام پرداخت کننده</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">وجه پرداختی</p>
        </div>

        <div class="col-md-4 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">تاریخ</p>
        </div>
    </div>

    {% for i in "xxxxxxx" %}
        <div class="row">
            <div class="col-md-4 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">همیار ۱</p>
            </div>

            <div class="col-md-4 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">۱.۰۰۰.۰۰۰ ریال</p>
            </div>

            <div class="col-md-4 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">۱۳۹۶/۴/۱۳</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}