{% extends "hamyar/payment_reports.html" %}
{% load tz %}

{% block panel %}
    <a class="nav-link" href="admin_panel">پنل مدیریت مدیر سامانه</a>
{% endblock %}

{% block cash %}
    <div class="row bg-light">

        <div class="col-2 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">همیار</p>
        </div>

        <div class="col-2 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">مددجو</p>
        </div>

        <div class="col-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">از تاریخِ</p>
        </div>

        <div class="col-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">وجه پرداختی</p>
        </div>

        <div class="col-2 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">نوع پرداخت</p>
        </div>
    </div>

    {% for help in cash %}
        <div class="row">
            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_hamyar_admin" %}?username={{ help.hamyar.username }}">{{ help.hamyar.first_name }} {{ help.hamyar.last_name }}</a>
                </p>
            </div>
            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_madadjoo_admin" %}?username={{ help.madadjoo.username }}">{{ help.madadjoo.first_name }} {{ help.madadjoo.last_name }}</a>
                </p>
            </div>

            <div class="col-3 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white">{{ help.date }}</p>
            </div>

            <div class="col-3 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">{{ help.amount }} تومان</p>
            </div>

            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">
                    {% if help.type == 'ann' %}
                        سالانه
                    {% elif help.type == 'mo' %}
                        ماهانه
                    {% else %}
                        موردی
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block non_cash %}
    <div class="row bg-light">
        <div class="col-2 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">همیار</p>
        </div>
        <div class="col-2 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">مددجو</p>
        </div>

        <div class="col-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">در تاریخِ</p>
        </div>

        <div class="col-5 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">عنوان کمک</p>
        </div>
    </div>

    {% for help in non_cash %}
        <div class="row">
            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_hamyar_admin" %}?username={{ help.hamyar.username }}">{{ help.hamyar.first_name }} {{ help.hamyar.last_name }}</a>
                </p>
            </div>

            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_madadjoo_admin" %}?username={{ help.madadjoo.username }}">{{ help.madadjoo.first_name }} {{ help.madadjoo.last_name }}</a>
                </p>
            </div>

            <div class="col-3 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white">{{ help.date }}</p>
            </div>

            <div class="col-5 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">{{ help.text }}</p>
            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block system %}
    <div class="row bg-light">

        <div class="col-2 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">همیار</p>
        </div>

        <div class="col-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">وجه پرداختی</p>
        </div>

        <div class="col-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">در تاریخِ</p>
        </div>

    </div>

    {% for help in system %}
        <div class="row">

            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_hamyar_admin" %}?username={{ help.hamyar.username }}">{{ help.hamyar.first_name }} {{ help.hamyar.last_name }}</a>
                </p>
            </div>

            <div class="col-3 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">{{ help.amount }}
                    تومان</p>
            </div>

            <div class="col-3 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white">{{ help.date }}</p>
            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block cash_deleteds %}
    <div class="row bg-light">
        <div class="col-2 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">همیار</p>
        </div>

        <div class="col-2 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">مددجو</p>
        </div>

        <div class="col-sm-2 col-md-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">از تاریخِ</p>
        </div>

        <div class="col-sm-2 col-md-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">تا تاریخِ</p>
        </div>

        <div class="col-sm-2 col-md-1 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">وجه پرداختی</p>
        </div>

        <div class="col-sm-2 col-md-1 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">نوع پرداخت</p>
        </div>
    </div>

    {% for help in cash_for_deleteds %}
        <div class="row">
            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_hamyar_admin" %}?username={{ help.hamyar.username }}">{{ help.hamyar.first_name }} {{ help.hamyar.last_name }}</a>
                </p>
            </div>

            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_madadjoo_admin" %}?username={{ help.madadjoo.username }}">{{ help.madadjoo.first_name }} {{ help.madadjoo.last_name }}</a>
                </p>
            </div>

            <div class="col-sm-2 col-md-3 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white">{{ help.date }}</p>
            </div>

            <div class="col-sm-2 col-md-3 rounded" style="height: 100%;">
                {% with m=help.madadjoo.madadkar_remove_madadjoo_set.all|first %}
                    <p class="list-group-item"
                       style="border-color: white">{{ m.date }}</p>
                {% endwith %}
            </div>

            <div class="col-sm-2 col-md-1 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">{{ help.amount }} تومان</p>
            </div>

            <div class="col-sm-2 col-md-1 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">
                    {% if help.type == 'ann' %}
                        سالانه
                    {% elif help.type == 'mo' %}
                        ماهانه
                    {% else %}
                        موردی
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block non_cash_deleted %}
    <div class="row bg-light">
        <div class="col-2 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">همیار</p>
        </div>

        <div class="col-2 rounded " style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">مددجو</p>
        </div>

        <div class="col-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">از تاریخِ</p>
        </div>

        <div class="col-3 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">تا تاریخِ</p>
        </div>

        <div class="col-2 rounded" style="height: 100%;">
            <p class="list-group-item bg-light" style="border-color: white">عنوان کمک</p>
        </div>
    </div>

    {% for help in non_cash_for_deleteds %}
        <div class="row">
            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_hamyar_admin" %}?username={{ help.hamyar.username }}">{{ help.hamyar.first_name }} {{ help.hamyar.last_name }}</a>
                </p>
            </div>

            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white"><a
                        href="{% url "show_a_madadjoo_admin" %}?username={{ help.madadjoo.username }}">{{ help.madadjoo.first_name }} {{ help.madadjoo.last_name }}</a>
                </p>
            </div>

            <div class="col-3 rounded" style="height: 100%;">
                <p class="list-group-item"
                   style="border-color: white">{{ help.date }}</p>
            </div>

            <div class="col-3 rounded" style="height: 100%;">
                {% with m=help.madadjoo.madadkar_remove_madadjoo_set.all|first %}
                    <p class="list-group-item"
                       style="border-color: white">{{ m.date }}</p>
                {% endwith %}
            </div>

            <div class="col-2 rounded" style="height: 100%;">
                <p class="list-group-item" style="border-color: white">{{ help.text }}</p>
            </div>

        </div>
    {% endfor %}
{% endblock %}