{% extends "madadjoo/base_show_a_supporter.html" %}

{% block panel %}
    <a class="nav-link" href="admin_panel">پنل مدیریت مدیر سامانه</a>
{% endblock %}

{% block head %}
    <div class="col-6 ml-auto">
        <h4>مشخصات همیار</h4>
    </div>
{% endblock %}

{% block buttons %}
    <a href="edit_a_hamyar_admin"><button type="button" class="btn btn-outline-warning">ویرایش</button></a>
{% endblock %}

{% block below_image %}

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action disabled">
نام مددجویان تحت تکلف
        </a>
        <a href="show_a_madadjoo_admin" class="list-group-item list-group-item-action">مددجوی ۱</a>
        <a href="show_a_madadjoo_admin" class="list-group-item list-group-item-action">مددجوی ۲</a>
        <a href="show_a_madadjoo_admin" class="list-group-item list-group-item-action">مددجوی ۳</a>
        <a href="show_a_madadjoo_admin" class="list-group-item list-group-item-action">مددجوی ۴</a>
    </div>

{% endblock %}

{% block name %}
    <input type="text" id="staticName" readonly class="form-control-plaintext form-control" placeholder="نام همیار">
{% endblock %}

{% block l-name %}
    <input type="text" readonly class="form-control-plaintext form-control" id="staticLastName"
           placeholder="نام خانوادگی همیار">

{% endblock %}

{% block more_detail %}

{% endblock %}