{% extends 'base_show_madadjoo.html' %}
{% block panel %}
    <a class="nav-link" href="admin_panel">پنل مدیریت مدیر سامانه</a>
{% endblock %}
{% block home_url %}
    <a class="nav-link" href="home_admin">خانه <span class="sr-only">(current)</span></a>
{% endblock %}

{% block title %}
    <div class="col-4 ml-auto"><h4>مشاهده‌ی مددجویان</h4> <!--<h5>۲۵ مددجوی تحت حمایت</h5> --> </div>
    <div class="col-1 ml-auto"><a href="add_a_madadjoo_admin"><button type="button" class="btn btn-outline-warning">افزودن مددجو</button></a></div>
{% endblock %}

{% block link %}
    <a href="{% url "show_a_madadjoo_admin" %}?username={{ madadjoo.username }}" class="btn btn-secondary">نمایش مشخصات مددجو</a>
 {% endblock %}
{% block right-side-navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="home_admin">خانه <span class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}