{% extends 'base_show_a_madadjoo.html' %}
{% block panel %}
    <a class="nav-link" href="admin_panel" xmlns="http://www.w3.org/1999/html">پنل مدیریت مدیر سامانه</a>
{% endblock %}
{% block home_url %}
    <a class="nav-link" href="home_admin">خانه <span class="sr-only">(current)</span></a>
{% endblock %}

{% block buttons %}
    <a href="{% url "edit_a_madadjoo_admin" %}?username={{ user.username }}">
        <button type="button" class="btn btn-warning"> ویرایش</button>
    </a>
    <a href="{% url "send_delete_letter" %}?username={{ user.username }}">
        <button type="button" class="btn btn-danger"> حذف</button>
    </a>
    {% if user.confirmed %}
        <button type="button" disabled class="btn btn-outline-success">تایید شده</button>
    {% else %}
        <button type="button" disabled class="btn btn-outline-danger">تایید نشده</button>
    {% endif %}

{% endblock %}

{% block links %}
    {% for hamyar in hamyars %}
        <a href="{% url "show_a_hamyar_admin" %}?username={{ hamyar.username }}"
           class="list-group-item list-group-item-action">
            {{ hamyar.first_name }} {{ hamyar.last_name }}
        </a>
    {% endfor %}
    <p class="lead">
        <a class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal1" href="#">ثبت پرداخت هزینه</a>
        {% include "admin/pay_madadjoo_popup.html" %}
    </p>
{% endblock %}

{% block right-side-navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="home_admin">خانه <span class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}