{% extends 'base_show_a_madadjoo.html' %}
    {% block panel %}
        <a class="nav-link" href="admin_panel">پنل مدیریت مدیر سامانه</a>
    {% endblock %}

    {% block buttons %}
        <a href="edit_a_madadjoo_admin">
            <button type="button" class="btn btn-warning"> ویرایش</button>
        </a>
        <button type="button" class="btn btn-danger">حذف</button>
        <button type="button" disabled class="btn btn-outline-warning">تایید نشده</button>
    {% endblock %}

    {% block links %}
        <a href="show_a_hamyar_admin" class="list-group-item list-group-item-action">همیار ۱</a>
        <a href="show_a_hamyar_admin" class="list-group-item list-group-item-action">همیار ۲</a>
        <a href="show_a_hamyar_admin" class="list-group-item list-group-item-action">همیار ۳</a>
        <a href="show_a_hamyar_admin" class="list-group-item list-group-item-action">همیار ۴</a>
        <hr>
        <a href="madadjoo_paid_report" class="btn btn-primary">گزارش پرداختی‌ها</a>
        <a href="https://sep.shaparak.ir/Error.html?aspxerrorpath=/PaymentError.aspx" class="btn btn-success">پرداخت مستقیم به مددجو</a>
    {% endblock %}

    {% block need %}
    {% for i in "xy" %}
        {% include "snippets/need_snippet_show_admin.html" %}
    {% endfor %}
    {% endblock %}