{% extends 'base_show_madadjoo.html' %}
{% block panel %}
    <a class="nav-link" href="admin_panel">پنل مدیریت مدیر سامانه</a>
{% endblock %}

{% block title %}
    <div class="col-6 ml-auto"><h4>مشاهده‌ی مددجویان</h4><h5>۲۵ مددجوی تحت حمایت</h5></div>
{% endblock %}

{% block link %}
    <a href="show_a_madadjoo_admin" class="btn btn-secondary">نمایش مشخصات مددجو</a>

 {% endblock %}

{% block button %}
    <div class="card-footer bg-transparent">
        <button type="button" class="btn btn-outline-success btn-lg btn-block">تکفل کن(!!!)</button>
    </div>
{% endblock %}