{% extends "snippets/need_snippet_base.html" %}
{% block need %}
    <textarea rows="3" id="staticneed" readonly class="form-control-plaintext form-control"
              placeholder="شرح و مبلغ نیاز مددجو در این‌جا وارد می‌شود">{{ need.description }}</textarea>
{% endblock %}

{% block monthly %}

    <input class="form-check-input" type="radio" name="type_{{ need.id }}"
           id="inlineRadio1" value="mo" {% if need.type == "mo" %}checked{% endif %} disabled>
{% endblock %}

{% block annual %}
     <input class="form-check-input" type="radio" name="type_{{ need.id }}"
           id="inlineRadio1" value="mo" {% if need.type == "ann" %}checked{% endif %} disabled>

{% endblock %}

{% block special %}
    <input class="form-check-input" type="radio" name="type_{{ need.id }}"
           id="inlineRadio3" value="inst" {% if need.type == "inst" %}checked{% endif %} disabled>
{% endblock %}

{% block emergency %}
    <div class="form-check form-check-inline" disabled>
        <div class="col-md-1 mr-auto">
            {% if need.urgent %}
                <span class="badge badge-danger">نیاز فوری</span>
            {% else %}
                <span class="badge badge-secondary">نیاز فوری</span>
            {% endif %}
        </div>
    </div>
    <div class="form-check form-check-inline" disabled>
        <div class="col-md-1 mr-auto">
            {% if need.cash %}
                <span class="badge badge-danger">نقدی</span>
            {% else %}
                <span class="badge badge-secondary">نقدی</span>
            {% endif %}
        </div>
    </div>
    {#    <div class="col-md-3 mr-auto" style="margin-top: 1%">#}
    {##}
    {##}
    {#    </div>#}
{% endblock %}