{% extends "snippets/need_snippet_base.html" %}

{% block need %}
    <textarea rows="3" id="description" name="description" class="form-control"
              placeholder="شرح و مبلغ نیاز مددجو در این‌جا وارد می‌شود"></textarea>
{% endblock %}

{% block monthly %}
    <input class="form-check-input" type="radio" name="type"
           id="mo" value="mo">
{% endblock %}

{% block annual %}
    <input class="form-check-input" type="radio" name="type"
           id="ann" value="ann">
{% endblock %}

{% block special %}
    <input class="form-check-input" type="radio" name="type"
           id="inst" value="inst">
{% endblock %}

{% block urgent %}
    <input class="form-check-input" type="checkbox" name="urgent"
           id="urgent" value="urgent">
{% endblock %}

{% block chash %}
    <input class="form-check-input" type="checkbox" name="chash"
           id="chash" value="chash">
{% endblock %}

{% block emergency %}
{#    <div class="need-botton-wrapper col-md-3 mr-auto" style="margin-top: 1%">#}
{#        <span class="emergency-need-admin badge badge-secondary">نیاز فوری</span>#}
{#        <span class="emergency-need-admin badge badge-secondary">پرداخت شده</span>#}
{#    </div>#}

{% endblock %}