{% extends "snippets/need_snippet_base.html" %}

{% block need %}
    <textarea rows="3" id="staticneed" readonly class="form-control-plaintext form-control"
              placeholder="شرح و مبلغ نیاز مددجو در این‌جا وارد می‌شود">{{ user.need.description }}</textarea>
{% endblock %}

{% block monthly %}
    <input class="form-check-input" type="radio" name="type"
           id="inlineRadio1" value="mo" disabled {% if user.need.type == "mo" %}checked{% endif %}>
{% endblock %}

{% block annual %}
    <input class="form-check-input" type="radio" name="type"
           id="inlineRadio2" value="ann" disabled {% if user.need.type == "ann" %}checked{% endif %}>
{% endblock %}

{% block special %}
    <input class="form-check-input" type="radio" name="type"
           id="inlineRadio3" value="inst" disabled {% if user.need.type == "inst" %}checked{% endif %}>
{% endblock %}

{% block emergency %}
    <div class="form-check form-check-inline" disabled>
        <div class="col-md-1 mr-auto">
            {% if user.need.urgent %}
                <span class="badge badge-danger">نیاز فوری</span>
            {% else %}
                <span class="badge badge-secondary">نیاز فوری</span>
            {% endif %}
        </div>
    </div>
    <div class="form-check form-check-inline" disabled>
        <div class="col-md-1 mr-auto">
            {% if user.need.cash %}
                <span class="badge badge-danger">نقدی</span>
            {% else %}
                <span class="badge badge-secondary">نقدی</span>
            {% endif %}
        </div>
    </div>
    {#    <div class="col-md-3 mr-auto" style="margin-top: 1%">#}
    {##}
    {##}
    {#    </div>#}
{% endblock %}