<div class="form-group row">
    <label for="staticneed" class="col-md-1 col-form-label">نیاز</label>
    <div class="col-md-4">
        {% block need %}
        {% endblock %}
    </div>


    <div class="col-md-5">
        <div class="form-check form-check-inline disabled">
            <label class="form-check-label col-md-1"> ماهانه </label>
            <div class="col-md-1">
                {% block monthly %}
                {% endblock %}
            </div>
        </div>
        <div class="form-check form-check-inline disabled">
            <label class="form-check-label col-md-1"> سالانه </label>
            <div class="col-md-1">
                {% block annual %}
                {% endblock %}
            </div>
        </div>
        <div class="form-check form-check-inline disabled">
            <label class="form-check-label col-md-1">موردی </label>
            <div class="col-md-1">
                {% block special %}
                {% endblock %}
            </div>
        </div>
    </div>
        {% block emergency %}
        {% endblock %}
</div>