@import '../base/_reset';

body {
  .nav-pills {
    .nav-link.active {
      background-color: #f0cdd0;
      color: black;
    }
  }
  .modal-content {}
}

@media only screen and (max-width: 800px) {
    nav.right-navbar {
      background-color: black;
      opacity: 0;
    }
}