@import "../helpers/colors";
@import "../helpers/fonts";

body {
  font-family: BJalal;
  //position: relative;
  direction: rtl;

  ul.errorlist {
    color: #990000;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }
  a {
    color: black;
    &:hover {
      color: $hover_color;
      text-decworation: none;
    }
  }
  .container.text-right {
    h4 {
      color: #666;
    }
    margin-top: 6%;
    margin-bottom: 6%;
    .nav {
      display: inherit;
    }
  }
  nav.navbar {
    background-color: $navbar-color;
  }
  nav.navbar-header.navbar a {
    color: $navbar-text-color;
  }
}
#navbar-scroller {
  position: fixed;
}
footer {
  padding: 2%;
  background-color: #e5e5e5;
}

/*body nav .btn:hover {*/
/*background-color: dimgray;*/
/*}*/
