@import "../helpers/colors";
@import "../helpers/fonts";

body {
  font-family: BJalal;
  //position: relative;
  direction: rtl;
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  a {
    color: black;
    &:hover {
      color: $hover_color;
      text-decoration: none;
    }
  }
  .container.text-right {
    h4 {
      color: #666;
    }
    margin-top: 3%;
    margin-bottom: 3%;
    .nav {
      display: inherit;
    }
  }
  nav.navbar {
    //height: 64px;
    background-color: $navbar-color;;
  }
  nav.navbar-header.navbar a {
    color: $navbar-text-color;
  }
}


/*body nav .btn:hover {*/
/*background-color: dimgray;*/
/*}*/
