{% extends "base_madadjoo_info.html" %}

{% block buttons %}
{% endblock %}


{% block below_image %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action disabled" style="cursor: default">
نام کاربری همیاران مددجو
        </a>
        {% block links %}

        {% endblock %}
    </div>
{% endblock %}

{% block name %}
    <input type="text" id="staticName" readonly class="form-control-plaintext form-control"
           placeholder="نام مددجو" value="{{ user.first_name }}">
{% endblock %}


{% block lastName %}
    <input type="text" readonly class="form-control-plaintext form-control" id="staticLastName"
           placeholder="نام خانوادگی مددجو" value="{{ user.last_name }}">
{% endblock %}

{% block idNum %}
    <input type="text" id="staticid" readonly class="form-control-plaintext form-control"
           placeholder="کد ملی مددجو" value="{{ user.id_number }}">
{% endblock %}


{% block phone %}
    <input type="text" readonly class="form-control-plaintext form-control" id="staticphone"
           placeholder="شماره تلفن مددجو" value="{{ user.phone_number }}">
{% endblock %}

{% block email %}
    <input type="text" readonly class="form-control-plaintext form-control" id="staticEmail"
           placeholder="رایانامه مددجو" value="{{ user.email }}">
{% endblock %}

{% block addr %}
    <input type="text" id="staticaddr" readonly class="form-control-plaintext form-control"
           placeholder="آدرس مددجو در این‌جا وارد می‌شود." value="{{ user.address }}">
{% endblock %}

{% block percentage %}
    <input type="text" readonly class="form-control-plaintext form-control" id="staticpercentage"
           placeholder="درصد پس‌انداز" value="{{ user.invest }}">
{% endblock %}

{% block success %}
    <textarea rows="7" id="staticsuccess" readonly class="form-control-plaintext form-control"
              placeholder="شرح موفقیت‌های مددجو در اینجا وارد می‌شود">{{ user.successes }}</textarea>
{% endblock %}

{% block bio %}
    <textarea rows="7" id="staticdisc" readonly class="form-control-plaintext form-control"
              placeholder="شرح حال مددجو در این‌جا وارد می‌شود">{{ user.bio }}</textarea>
{% endblock %}

{% block education %}
    <textarea rows="7" id="staticedu" readonly class="form-control-plaintext form-control"
              placeholder="وضعیت تحصیلی مددجو در این‌جا وارد می‌شود">{{ user.edu_status }}</textarea>
{% endblock %}

{% block need %}
    {% for i in "x" %}
        {% include "snippets/need_snippet_show.html" %}
    {% endfor %}
{% endblock %}
