{% extends 'base_registered.html' %}
{% block content %}
    <div class="col-sm-12 col-md-6 center">
        <div class="col-sm-6 col-md-4">
            <h4><span class="oi oi-pencil" aria-hidden="true"
                      style="margin-left:5%;"></span>ارسال نامه</h4>
        </div>
        <hr>

        <form>
            <div class="form-group">
                <label for="sender">فرستنده</label>
                {% block sender %}
                {% endblock %}
            </div>

            <div class="form-group">
                <label for="reciever">گیرنده</label>
                {% block receiver %}
                {% endblock %}

            </div>

            <div class="form-group">
                {% block message_title %}
                    <label for="title">عنوان نامه</label>
                {% endblock %}
                <input type="text" class="form-control" id="title">
            </div>


            <div class="form-group">
                {% block message_text %}
                    <label for="letter-body">متن نامه</label>
                {% endblock %}
                <textarea class="form-control" id="letter-body" rows="7"></textarea>
            </div>
            <button type="submit" class="btn btn-success">ارسال</button>
        </form>
    </div>
{% endblock %}