{% extends "base_registered.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 mr-auto">
                <h4>مشخصات همیار</h4>
            </div>
            <div class="col-sm-6 col-md-4 mr-auto">
                {% block buttons %}

                {% endblock %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <img src="https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276"
                     alt="نام همیار" class="img-thumbnail">
                {% block madadjoos %}

                {% endblock %}
            </div>
            <div class="col-md-9">
                <form>
                    <div class="form-group row">
                        <label for="staticName" class="col-md-1 col-form-label">نام</label>
                        <div class="col-md-4">
                            <input type="text" id="staticName" readonly class="form-control-plaintext form-control"
                                   value="نام همیار">
                        </div>
                        <label for="staticLastName" class="col-md-2 col-form-label">نام خانوادگی</label>
                        <div class="col-md-5">
                            <input type="text" readonly class="form-control-plaintext form-control" id="staticLastName"
                                   value="نام خانوادگی همیار">
                        </div>
                    </div>
                    {% block more_detail %}
                    {% endblock %}


                </form>
            </div>
        </div>
    </div>
{% endblock %}