{% extends 'base_registered.html' %}
{% block content %}
    <div class="col-sm-12 col-md-6 center">
        <div class="col-sm-6 col-md-4">
            <h4><span class="oi oi-pencil" aria-hidden="true"
                      style="margin-left:5%;"></span>ارسال نامه</h4>
        </div>
        <hr>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="sender">فرستنده</label>
                {% block sender %}
                {% endblock %}
            </div>

            <div class="form-group">
                {% block receiver-container %}

                    <label for="reciever">گیرنده</label>
                    {% block receiver %}
                    {% endblock %}
                {% endblock %}

            </div>

            <div class="form-group">
                {% block title %}
                    {% block message_title %}
                        <label for="title">عنوان نامه</label>
                    {% endblock %}
                    <input required type="text" name="title" class="form-control" id="title">
                {% endblock %}
            </div>


            <div class="form-group">
                {% block message_text %}
                    <label for="letter-body">متن نامه</label>
                {% endblock %}
                <textarea class="form-control" name="text" id="letter-body" rows="7"></textarea>
            </div>
            {% block submit %}
                <button type="submit" class="btn btn-success">ارسال</button>
            {% endblock %}
        </form>
    </div>
{% endblock %}