{% extends "base.html" %}
{%  block content %}

    <h4>مشاهده اطلاعات کلان سامانه</h4>
    <div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        تاریخچه
      </a>
    </div>
    <div id="collapseOne" class="collapse show">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        چارت سازمانی
      </a>
    </div>
    <div id="collapseTwo" class="collapse">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        اهداف
      </a>
    </div>
    <div id="collapseThree" class="collapse">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
فعالیت‌ها
      </a>
    </div>
    <div id="collapseFour" class="collapse">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          حامیان
      </a>
    </div>
    <div id="collapseFive" class="collapse">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

</div>
{% endblock %}