{% extends "base_registered.html" %}
{% block content %}
    <div>
        <h4>داشبور</h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده مددجویان تحت حمایت</h4>
                <p class="lead"><img src="../static/images/all_madadjoo.jpg"
                     alt="مشاهده مددجویان" class="embed-responsive embed-responsive-16by9 img-thumbnail"></p>
                <hr class="my-4">
                <p>امکان مشاهده مددجویان تحت حمایت، ویرایش اطلاعات و نیاز‌های آنان، حذف مددجویان از سامانه و نیز ارسال نامه به همیاران آن‌ها.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="show_madadjoo" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">اضافه کردن مددجوی جدید</h4>
                <p class="lead"><img src="../static/images/add-madadjoo.png"
                     alt="اضافه کردن مددجو" class="embed-responsive embed-responsive-16by9 img-thumbnail" style="max-height: 50%"></p>
                <hr class="my-4">
                <p>امکان اضافه کردن یک مددجوی جدید به سامانه.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="#" role="button">برو</a>
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="jumbotron">
                <h4 class="display-5">مشاهده پیام‌های دریافتی</h4>
                <p class="lead"><img src="../static/images/inbox.png"
                     alt="پیام‌ها" class="img-thumbnail embed-responsive embed-responsive-16by9"></p>
                <hr class="my-4">
                <p>امکان مشاهده نامه‌ها و اخطار‌های احتمالی دریافتی.</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="#" role="button">برو</a>
                </p>
            </div>
        </div>
    </div>
    <div>

{% endblock %}