{% extends "base_registered.html" %}

{% block content %}


    <div class="row">
        <div class="col-6 ml-auto"><h4>مشاهده‌ی مددجویان</h4></div>
        <div class="col-6 ml-auto">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">قبل</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">بعد</a></li>
                </ul>
            </nav>

        </div>
    </div>
    {% for i in "xx" %}
        <div class="row">
            {% for i in "xxxx" %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card border-secondary mb-3">
                        <img class="card-img-top"
                             src="https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">نام مددجو</h5>
                            <p class="card-text">این یک متن امتحانی‌ست. توجه نکنید:))</p>
                            <p class="card-text">
                            <div class="card-footer bg-transparent">
                                <a href="show_a_madadjoo" class="btn btn-secondary">نمایش مشخصات مددجو</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}




{% endblock %}