{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-4"><h3>مشاهده‌ی مددجویان</h3></div>
        <div class="col-sm-8"></div>
    </div>

    <div class="card-deck">
        {% for i in "xxxx" %}
            <div class="card">
                <img class="card-img-top"
                     src="https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276"
                     alt="Card image cap">
                <div class="card-body">
                    <a href="http://google.com"><h4 class="card-title">نام مددجو</h4></a>
                    <p class="card-text">این یک متن امتحانی‌ست. توجه نکنید:))</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}